@import "tailwindcss";

.nav-item {
  @apply text-sm font-semibold text-gray-500;
}

@theme {
  --color-border: #c6c6c8;
  --color-text: #3e3e3e;
  --color-main: #f66d00;
  --color-primary-300: #ffb27f;
  --color-primary-200: #fff0cb;
  --color-primary-100: #fff7e0;
}
