@import "tailwindcss";

.nav-item {
  @apply text-sm font-semibold text-gray-500;
}

.pagination-arrow {
  @apply flex items-center px-3 py-1 rounded-md text-text cursor-pointer disabled:cursor-default disabled:opacity-30;
}

@theme {
  --color-border: #c6c6c8;
  --color-text: #3e3e3e;
  --color-main: #f66d00;
  --color-primary-300: #ffb27f;
  --color-primary-200: #fff0cb;
  --color-primary-100: #fff7e0;
  --color-danger: #9c1613;
  --color-danger-bg: #fac7ce;
}
